@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    flex-direction: column;   
    height: 100%; 
    /* justify-content: space-around;    */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


    
/* correto */
.conteudo-principal{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-bottom: 30px;  
}

/* .conteudo-principal-escrito{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* .conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 34px;
    color: #ffffff;  
} */


.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
    
} 

/* .conteudo-principal-escrito-botao:hover {
    background-color: rgb(12, 121, 168,0.25) ;
} */

/* .conteudo-principal-escrito-botao{
    background-color: #0c79a8;
    width: 180px;
    height: 60px;
    border: none;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;
    
} */

.conteudo-principal-imagem {
    height: 150px; 
    padding: 24px
} 

.conteudo-secundario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;   
    margin-bottom: 235px; 
}

.bloco{
    max-width:400px;
    min-width: 250px; 
    margin:5px;
}


.conteudo-secundario-titulo{
    border-bottom: 0.4px solid #ffffff;
     padding-bottom: 28px; 
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
  
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #9da3ab;
}



.rodape {
    padding: 33px;
    border-top: 0.4px solid #ffffff;
    
}

.rodape-imagem{
    height: 100px;
    display: block;
    margin: 0 auto;    
} 

/* INICIO ESTILO DO CARD*/
/* .card{
    --rx: 0;
    --ry: 0;
    --duration: 200ms;
    transition: var(--duration) ease-out;
    transform: perspective(500px) rotate(var(--rx)) rotate(var(--ry));
    transform-style: preserve-3d;
} */

/* FIM ESTILO DO CARD*/

/* INICIO ESTILO DO FOOTER */
footer
{
        position: relative;
        width: 100%;
        background: #3586ff;
        min-height: 100px;
        padding: 20px 50px;
        display: flex;
        /* justify-content: center;
        align-items: flex-end; */
        flex-direction: column;
}
footer .social_icon,
footer .menu
{
        position: relative;
        display: flex;
        justify-content: center;        
        margin: 10px 0;
        flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
        list-style: none;
}
footer .social_icon li a
{
        font-size: 2em;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        transition: 0.5s;
}
footer .social_icon li a:hover
{
        transform: translateY(-10px)
}
footer .menu li a
{
        font-size: 1.2em;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.75;
}
footer .menu li a:hover
{
        opacity: 1;
}
footer p
{
        color: #fff;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 1.1em;
}
footer .wave
{
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
        height: 80px;
        background: url(../img/wave.png);
        background-size: 1000px 100px;
}
footer .wave#wave1
{
        z-index: 1000;
        opacity: 1;
        bottom: 0;
        animation: animateWave 4s linear infinite;
}
footer .wave#wave2
{
        z-index: 999;
        opacity: 0.5;
        bottom: 10px;
        animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3
{
        z-index: 1000;
        opacity: 0.2;
        bottom: 15;
        animation: animateWave 3s linear infinite;
}
footer .wave#wave4
{
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave 
{
        0%
        {
                background-position-x: 1000px;
        }
        100%
        {
                background-position-x: 0px;
        }
}
@keyframes animateWave_02 
{
        0%
        {
                background-position-x: 0px;
        }
        100%
        {
                background-position-x: 1000px;
        }
}
/* FIM ESTILO DO FOOTER */